html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #000000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text {
    margin-top:150px;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:black;
    text-align: center;
}


.nav-search {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn btn-secondary {
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .nav-item {
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }

.privacy {
    text-align: left;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    margin-top: 50px;
}

.privacy-title {
    text-align: left;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}

.card_index {
    border: none;
    justify-content: space-around;
    align-items: stretch;
    font-size: 20px;
}

.card-img-top {
    object-fit: cover;
}

.addToCart {
    display: inline-block;
    border-radius: 4px;
    background-color: #6cad59;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


.login {
    font-family: Helvetica, sans-serif;
    text-align:right;

}


.index { 
   
    background-image: url('/images/cycling.jpg');
    background-size: cover;
   
}

.adds {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    height: 1000px; 
}

.footerImage {
    display: flex;
   
    align-items: flex-end; 
    width: 100%; 
}
    .footerImage img {
        height:300px;
        width:auto;
    }